[run]
omit =
     */migrations/*
     */test_*
     tasks.py
     pacs/wsgi.py
     manage.py

[report]
omit =
     */migrations/*
     */tests/*
     tasks.py
     pacs/wsgi.py
     manage.py
     functional_tests.py