[Unit]
Description=Gunicorn for pacs

[Service]
Restart=on-failure
User=pacs
WorkingDirectory=/home/pacs/source/
EnvironmentFile=/home/pacs/.env
ExecStart=/home/pacs/venv/bin/gunicorn \
  --bind=unix:${PACS_GUINCORN_SOCKET} \
  pacs.wsgi:application

[Install]
WantedBy=multi-user.target